<a href="https://colab.research.google.com/github/victor555ops/Clases_de_Python/blob/main/02_operadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Operadores aritmeticos

print("Suma: ", 1+2)
print("Resta: ", 6-5)
print('Multiplicacion:', 5*6)
print("Division: ", 7//2)
print("Division: ", 7/2)
print('Modulo: ', 3%2)
print('Exponente', 2 ** 3)
     
Suma:  3
Resta:  1
Multiplicacion: 30
Division:  3
Division:  3.5
Modulo:  1
Exponente 8
podemos unir palabras usando operadores


print('Hola', 'Python')
print('Hola' + 'Python')
print('Hola' + str(5))
print('Hola' * 5)
     
Hola Python
HolaPython
Hola5
HolaHolaHolaHolaHola

Operadores aritmeticos

print("Suma: ", 1+2)
print("Resta: ", 6-5)
print('Multiplicacion:', 5*6)
print("Division: ", 7//2)
print("Division: ", 7/2)
print('Modulo: ', 3%2)
print('Exponente', 2 ** 3)

In [ ]:
print('Hola', 'Python')
print('Hola' + 'Python')
print('Hola' + str(5))
print('Hola' * 5)

In [ ]:
##Estas funciones facilitan
for i in range (11):
  print('*' * i)

In [ ]:
pizza = 20
refresco = 15
compra = pizza + refresco
propina = compra * 0.2
total = compra + propina 
print("Usted debe pagar: ", compra, 'de propina ud debe', propina, 'su total es:', total)

In [ ]:
x = 1
suma = 0
while x<=10:
  suma += x
  x+=1
print(suma)

In [ ]:
print('Igual a:', 2==2)   #TRUE
print('Igual a:', 2==2.00) #TRUE
print('Igual a:', 2==1.9999) #FALSE

In [ ]:
print("Distinto de:", 2!=2) #FALSE
print('Distinto de: ', 2!=3)  #TRUE

In [ ]:
print('Mayor que:', 2>3)#FALSE
print('Menor que:', 2<3)#TRUE
print('Mayor o igual que:', 4>=3)#TRUE
print('Mayor o igual que:', 3>=3)#TRUE
print("Menor o igual que:", 3<=3 )#TRUE
print("Menor o igual que:", 4<=4 )#TRUE

In [ ]:
print(len('mango') == len('mel贸n'))#TRUE
print(len('mango') != len('mel贸n'))#FALSE
print(len('mango') < len('mel贸n'))#FALSE
print(len('mango') > len('mel贸n'))#FALSE

Operadores de comparacion con texto

In [ ]:
print("1 is 1", 1 is 1)                      #TRUE
print('1 is not 2', 1 is not 2)              #TRUE
print('A en manuel', 'A' in 'manuel')   #TRUE
print('L en manuel', 'L' in 'manuel')   #FALSE
print('coding' in 'coding for all')           #TRUE
print('a in an', 'a' in 'an')                 #TRUE
print('4 is 2 ** 2:', 4 is 2 ** 2 )           #TRUE

In [ ]:
print(3 > 2 and 4 > 3)          #TRUE
print(3 > 2 and 4 < 3)          #FALSE
print(3 < 2 and 4 < 3)          #FALSE
print('True and True: ', True and True)   

print(3 > 2 or 4 > 3)           #TRUE
print(3 > 2 or 4 < 3)           #FALSE
print(3 < 2 or 4 < 3)           #FALSE
print('True or False: ', True or False )

print()

In [ ]:
import math

fahren = float(input('Ingresa grados fahrenheit: '))
celsius = (fahren - 32)/1.8
print('los grados celsius es: ', celsius)

In [ ]:
mass = float(input('Ingresa tu peso: '))
height = float(input('Ingresa tu altura: '))
bml = mass/pow(height, 2)
print('Tu indice de masa corporla es: ', bml)