<a href="https://colab.research.google.com/github/victor555ops/Clases_de_Python/blob/main/06_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_set = set()
other_set = {}
print(type(my_set))
print(type(other_set))

In [ ]:
other_set = {1, 2.4, 3, 'victor', 'bautista', 'santes', 'victor'}
print(type(other_set))

In [ ]:
my_set = {'banana', 'naranja', 'mango', 'limon'}
print(len(my_set))
print(my_set)

In [ ]:
print(my_set)
my_set.add('manzana')
print(my_set)

In [ ]:
print(my_set)
vegetales = {'tomate', 'papa', 'zanahoria'}
print(vegetales)
my_set.update(vegetales)
print(my_set)

no se puede consultar en una posicion como en un array

Elemento de lista
Elemento de lista

In [ ]:
frutas = {'mango', 'manzana', 'uva'}

In [ ]:
frutas = {'mango', 'manzana', 'uva'}

In [ ]:
frutas.remove('mango')
print(frutas)

In [ ]:
frutas = {'mango', 'manzana', 'uva'}
vegetales = {'tomate', 'papa', 'zanahoria'}
print(frutas.union(vegetales))

In [ ]:
frutas = {'mango', 'manzana', 'uva'}
vegetales = {'tomate', 'papa', 'zanahoria'}
print(frutas.union(vegetales))