<a href="https://colab.research.google.com/github/victor555ops/Clases_de_Python/blob/main/07_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_tuple = tuple()
other_tuple = ()

In [ ]:
my_tuple = (1,2.5,3, 'victor', 'manuel', 'bautista', 'victor')
print(my_tuple)
print(type(my_tuple))

In [ ]:
print(my_tuple[0])
print(my_tuple[-1])

In [ ]:
print(my_tuple.count("bautista"))

In [ ]:
tpl1 = ('item1', 'item2', 'item3')
tpl2 = ('item4', 'item5', 'item6')
tpl3 = tpl1 + tpl2

INSERTAR VALORES EN UNA TUPLA

No se puede

In [ ]:
my_set = set()
other_set = {}
print(type(my_set))
print(type(other_set))

In [ ]:
other_set= {1,2.5,3, 'victor', 'manuel', 'bautista', 'victor'}
print(type(other_set))

<class 'set'>

In [ ]:
my_set={'banana', 'mango', 'naranja', 'limon'}
print(len(my_set))
print(my_set)

4
{'banana', 'naranja', 'mango', 'limon'}

In [ ]:
print(my_set)
my_set.add('manzana')
print(my_set)

In [ ]:
print(my_set)
vegetales = {'tomates','papa','zanahoria'}
print(vegetales)
my_set.update(vegetales)
print(my_set)

In [ ]:
frutas={'banana', 'mango', 'naranja', 'limon'}
print(frutas)
print(frutas[0])

In [ ]:
print('Â¿existe mango?','mango' in frutas)

In [ ]:
print(frutas)
frutas.remove(frutas[0])

In [ ]:
frutas.remove('mango')
print(frutas)

In [ ]:
frutas={'banana', 'mango', 'naranja', 'limon'}
vegetales={'banana', 'mango', 'naranja', 'limon'}
print(frutas.union(vegetales))

{'banana', 'mango', 'limon', 'naranja'}

In [ ]:
numeros = {0,1,2,3,4,5,6,7,8,9}
numeros_pares={0,2,4,6,8,10,12,14,16}
print(numeros.intersection(numeros_pares))

In [ ]:
Diccionario

In [ ]:
my_dict =dict()
other_dict = {}
print(type(my_dict))
print(type(other_dict))

In [ ]:
person = {
   'name':'victor',
    'last_name':'manuel',
    'age':19,
    'skills': ['Javascript', 'react', 'python', 'swift'],
    'address': {
        'street':'fco. I. Madero',
        'telefono': 7821840642   
        }
}

In [ ]:
print(person['name'])
print(type(person['name']))

print(person['last_name'])
print(type(person['last_name']))

print(person['skills'])
print(type(person['skills']))

print(person['address'])
print(type(person['address']))

In [ ]:
print(person.get('country'))
print(person.get('skills'))

In [ ]:
print(person)
person['country'] = 'poza rica'
print(person)

In [ ]:
print(person)
person['last_name'] = 'bautista'
print(person)

In [ ]:
print('name'in person)
print('marital.status') in person

In [ ]:
print(person.keys())

In [ ]:
print(person.values())